/* KOŠÍK */

.cart-summary {
    border-top: 2px solid #dee2e6;
    padding-top: 1rem;
}

.total-label {
    color: #6c757d;
    margin-right: 0.25rem;
}

.total-price {
    font-weight: 700;
    font-size: 1.4rem;
    color: #198754;
}

.btn-mobile-full {
    padding: 0.6rem 1.2rem;
    line-height: 1.5; /* ⬅️ výška */
    width: auto;
}

/* Mobil  */
@media (max-width: 768px) {

    .total-price {
        font-size: 1.2rem;
    }

    .btn-mobile-full {
        width: 100%;
    }
}


